<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simple Mind.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>457920CA2CC2A33500A2A801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459CEF2D2CC17E4500D2DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459CEF3D2CC17E4600D2DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>459CEF472CC17E4600D2DA6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
